<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUsersManager">
     <reliableSession inactivityTimeout="00:01:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IProductsManager">
     <reliableSession inactivityTimeout="00:01:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_ISuppliersManager">
     <reliableSession inactivityTimeout="00:01:00" enabled="true" />
     <security mode="None" />
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="net.tcp://localhost:8001/ServiceImplementation/Service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager"
    contract="ServiceReference1.IUsersManager" name="NetTcpBinding_IUsersManager" />
   <endpoint address="net.tcp://localhost:8001/ServiceImplementation/Service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductsManager"
    contract="ServiceReference1.IProductsManager" name="NetTcpBinding_IProductsManager" />
   <endpoint address="net.tcp://localhost:8001/ServiceImplementation/Service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISuppliersManager"
    contract="ServiceReference1.ISuppliersManager" name="NetTcpBinding_ISuppliersManager" />
  </client>
	</system.serviceModel>
</configuration>
